*{
    margin-top: 9px;
  border-bottom: solid 2px red;
background-color: #dcd9d9;
background-color: rgb(12, 176, 240);
background-color:#66000000;


}













/* asdfgf ;lkjhafafasffdfasdaskhjbṇvgn bvbbvvhghhhghhghghggjhbhhvvhnmbvbjnnhhggvhhjhghjkhghjfhgh bvnbnmb nbnmb  gjkgfhnjhjhhhgkkkuuhjkjgfgfggfasfasdfa */
